<div id="precios" v-cloak>

  <h1>Relación de Materiales por Artículo.</h1>
  
<% producto.forEach(productItem=>{%>

  <div class="product-card">
    <div class="col-9">
      <div class="img-frame">
        <img class="product-main-img" src="/images/products/<%= productItem.nombreArticulo%>.png" alt="">
      </div>
      <h4 class="product-name"><%= productItem.nombreArticulo%></h4>
      <div class="material-list">
        <% productItem.materiales.forEach(item=>{%>
          <div class="nom-material"><%= item.detmaterial.nombreMaterial%></div>
          <div class="can-material"><%= item.cantidad %></div>
        <%})%>
      </div>
      
    </div>
    
  </div>
  
<%})%>

</div>