<div id="precios" v-cloak>

  <h1>Productos</h1>
  
<% producto.forEach(productItem=>{%>

  <div class="product-card">

    
      <div class="col-9">
        

        <h4 class="product-name"><%= productItem.nombreArticulo%></h4>
        <img class="product-main-img" src="/images/products/<%= productItem.nombreArticulo%>.png" alt="">
        <ul class="material-list">
          <% productItem.material.forEach(item=>{%>
            <li><%= item.cantidad %></li>
          <%})%>
        </ul>
      </div>
      <div class="col-3">
        <img class="product-logo" src="/images/LOGO.png" alt="">
      </div>
    
  </div>
  
<%})%>

</div>